<!--begin::Main-->
<!--begin::Header Mobile-->
<sv-voter-header-mobile></sv-voter-header-mobile>
<!--end::Header Mobile-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">

    <!--begin::Aside-->
    <sv-voter-aside></sv-voter-aside>
    <!--end::Aside-->

    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
      <!--begin::Header-->
      <sv-voter-header></sv-voter-header>
      <!--end::Header-->

      <!--begin::Content-->
      <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <sv-voter-sub-header [breadcrumbItems]="breadcrumbItems"></sv-voter-sub-header>
        <!--end::Subheader-->

        <!-- begin::Entry -->
        <div class="container">
          <!--begin::Education-->
          <div class="d-flex flex-column">
            <!--begin::Info-->
            <div class="flex-row-fluid">
              <div class="row justify-content-center">
                <!-- begin::election-info -->
                <div class="col-12">
                  <!--begin::Card-->
                  <div class="card card-custom gutter-b card-stretch">
                    <!--begin::Body-->
                    <div class="card-body text-center pt-4">
                      <!--begin::Name-->
                      <div class="my-2">
                        <p class="text-dark font-weight-bold font-size-h3">{{ election.name }}</p>
                      </div>
                      <!--end::Name-->
                      <!--begin::Label-->
                      <sv-election-status-label [status]="election.status"></sv-election-status-label>
                      <!--end::Label-->
                      <!-- begin::Date -->
                      <p class="font-weight-bold">{{ formattedDate(election.start) }} - {{ formattedDate(election.end) }}</p>
                      <!-- end::Date -->
                      <!-- begin::Desc -->
                      <p>{{ election.description }}</p>
                      <!-- end::Desc -->
                    </div>
                    <!--end::Body-->
                  </div>
                  <!--end::Card-->
                </div>
                <!-- end::election-info -->
                <!-- begin::election-winner -->
                <div class="col-12">
                  <!--begin::Card-->
                  <div class="card card-custom gutter-b card-stretch">
                    <!--begin::Body-->
                    <div class="card-body text-center pt-4">
                      <div class="my-2">Pemenang</div>
                      <!--begin::Name-->
                      <div class="my-2">
                        <p class="text-dark font-weight-bold font-size-h2">{{ election.winner }}</p>
                      </div>
                      <!--end::Name-->
                    </div>
                    <!--end::Body-->
                  </div>
                  <!--end::Card-->
                </div>
                <!-- end::election-winner -->
                <!-- begin::election-analytics -->
                <div class="col-12">
                  <div class="row">
                    <!-- begin::votes -->
                    <div class="col-4">
                      <!--begin::Card-->
                      <div class="card card-custom gutter-b card-stretch">
                        <!--begin::Body-->
                        <div class="card-body text-center pt-4">
                          <div class="my-2">Jumlah Suara</div>
                          <!--begin::Name-->
                          <div class="my-2">
                            <p class="text-dark font-weight-bold font-size-h2">{{ election.votes }}</p>
                          </div>
                          <!--end::Name-->
                        </div>
                        <!--end::Body-->
                      </div>
                      <!--end::Card-->
                    </div>
                    <!-- end::votes -->
                    <!-- begin::abstain -->
                    <div class="col-4">
                      <!--begin::Card-->
                      <div class="card card-custom gutter-b card-stretch">
                        <!--begin::Body-->
                        <div class="card-body text-center pt-4">
                          <div class="my-2">Tidak Memilih</div>
                          <!--begin::Name-->
                          <div class="my-2">
                            <p class="text-dark font-weight-bold font-size-h2">{{ election.abstains }}</p>
                          </div>
                          <!--end::Name-->
                        </div>
                        <!--end::Body-->
                      </div>
                      <!--end::Card-->
                    </div>
                    <!-- end::abstain -->
                    <!-- begin::total -->
                    <div class="col-4">
                      <!--begin::Card-->
                      <div class="card card-custom gutter-b card-stretch">
                        <!--begin::Body-->
                        <div class="card-body text-center pt-4">
                          <div class="my-2">Total Suara</div>
                          <!--begin::Name-->
                          <div class="my-2">
                            <p class="text-dark font-weight-bold font-size-h2">{{ election.total }}</p>
                          </div>
                          <!--end::Name-->
                        </div>
                        <!--end::Body-->
                      </div>
                      <!--end::Card-->
                    </div>
                    <!-- end::total -->
                  </div>
                </div>
                <!-- end::election-analytics -->
              </div>
            </div>
            <!--end::Info-->
            <!--begin::Content-->
            <div class="flex-row-fluid">
              <!--begin::Row-->
              <div class="row">
                <!--begin::Col-->
                <div *ngFor="let candidate of election.candidates, let i = index" class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                  <!--begin::Card-->
                  <div class="card card-custom gutter-b card-stretch">
                    <div class="card-header justify-content-center">
                      <div class="card-title">{{ i+1 }}</div>
                    </div>
                    <!--begin::Body-->
                    <div class="card-body text-center pt-4">
                      <!--begin::User-->
                      <div class="mt-7">
                        <div class="symbol symbol-lg-150">
                          <img src="https://via.placeholder.com/150" alt="image">
                        </div>
                      </div>
                      <!--end::User-->
                      <!--begin::Name-->
                      <div class="my-2">
                        <p class="text-dark font-weight-bold font-size-h4">{{ candidate.name }}</p>
                      </div>
                      <!--end::Name-->
                      <!-- begin::voting-count -->
                      <div class="my-2">
                        <p>{{ candidate.vote_count }} Suara</p>
                      </div>
                      <!-- end::voting-count -->
                    </div>
                    <!--end::Body-->
                  </div>
                  <!--end::Card-->
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Content-->
          </div>
          <!--end::Education-->
        </div>
        <!-- end::Entry -->
      </div>
      <!--end::Content-->

      <!--begin::Footer-->
      <sv-footer></sv-footer>
      <!--end::Footer-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::Main-->
