<div class="login login-1 d-flex flex-column flex-lg-row flex-column-fluid login-signin-on svg-background" id="kt_login">
  <!--begin::Content-->
  <div
    class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
    <!--begin::Content body-->
    <div class="d-flex flex-column-fluid flex-center">
      <!--begin::Signin-->
      <div class="login-form login-signin">
        <!--begin::Form-->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form" id="kt_login_signin_form">
          <!--begin::Title-->
          <div class="pb-13 pt-lg-0 pt-5 d-flex flex-column">
            <img src="/assets/media/logos/simvoni.svg" class="text-center mb-3" height="50px" alt="">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg text-center">Welcome to SIMVONI</h3>
          </div>
          <!--begin::Title-->
          <!--begin::Form group-->
          <div class="form-group">
            <label class="font-size-h6 font-weight-bolder text-dark">Username</label>
            <input 
              class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" 
              type="text"
              name="username" 
              formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="fv-plugins-message-container">
              <div *ngIf="submitted && f.username.errors.required" class="fv-help-block">Username is required</div>
            </div>
          </div>
          <!--end::Form group-->
          <!--begin::Form group-->
          <div class="form-group">
            <div class="d-flex justify-content-between mt-n5">
              <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
            </div>
            <input 
              class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" 
              type="password"
              name="password" 
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="fv-plugins-message-container">
              <div *ngIf="submitted && f.password.errors.required" class="fv-help-block">Password is required</div>
            </div>
          </div>
          <!--end::Form group-->
          <!--begin::Action-->
          <div class="pb-lg-0 pb-5">
            <button id="kt_login_signin_submit"
              class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Sign In</button>
            <button type="button" class="btn btn-light-primary font-weight-bolder px-8 py-4 my-3 font-size-lg">
              Create Account</button>
          </div>
          <!--end::Action-->
          <!-- begin::error -->
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          <!-- end::error -->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Signin-->
    </div>
    <!--end::Content body-->
  </div>
  <!--end::Content-->
</div>